/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "fonts.css";

.button {
	border-radius: 4px;
    font-size: 16px;
}

.button--orange {
	border: none;
	background: #FF9900;
	color: white;
}

.button--flat {
    border: none;
	background: white;
    color: #FF9900;
}

.button--white {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #BCD0E5;
	background: white;
	color: #173A56;
}

.button--small {
    width: 131px;
    height: 39px;
}

.button--medium {
    width: 110px;
    height: 46px;
}

.button--large {
    width: 175px;
    height: 53px;
}

.button--bold {
    font-weight: 700;
}

.button--semibold {
    font-weight: 600;
} 

.button--icon {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
        justify-content: center;
    -webkit-box-align: center;
        align-items: center;
}

.button__text--underline {
    text-decoration: underline;
}