/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "fonts.css";

.header {
    display: -webkit-box;
    display: flex;
    width: 1126px;
    height: 496px;
    -webkit-box-align: center;
        align-items: center;    
    padding-bottom: 110px;
}

.header__description {
    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;    
    width: 518px;
    height: 331px;
}

.header__text-group {
    width: 518px;
    height: 233px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;    
    font-family: Poppins;
}

.header__text-group--title {
    margin: 0px;
    font-size: 44px;
    font-weight: 700;
    width: 518px;
}

.header__text-group--plain {
    margin: 0px;
    font-size: 18px;
    width: 458px;
}

.header__button-group {
    display: -webkit-box;
    display: flex;
    /*tu padding gorny, zeby odsunac od textbloku*/
}

.header__image {
    width: 605px;
    height: 496px;
}
