/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "fonts.css";

body {
	width: 1400px;
	margin: 0 auto;
	padding-left: 137px;
	padding-right: 137px;
	padding-top: 20px;
	padding-bottom: 83px;
	background-color: white;
	color: #2F281E;
	font-family: Poppins, sans-serif;
}