@import "fonts.css";

.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-family: Poppins;
	font-size: 14px;
	line-height: 28px;
	color: #2F281E;
}

.navbar--row {
    width: 350px;
    height: 28px;
}

.navbar--column {
    flex-direction: column;
}